/*
 * INFORMATIONS UTILES
 * ===================
 *
 * J'utilsie actuelement prefixfree de Lea Verou pour éviter de devoir
 * mettre tous les -moz-, -webkit-, ...
 * http://leaverou.github.com/prefixfree/
 *
 */

// FONTS ////////////////////////////////////////////////////////////

@font-face {
    font-family: 'ThatsFontFolksItalic';
    src: url('../images/fonts/that_s_font_folks-webfont.eot');
    src: url('../images/fonts/that_s_font_folks-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/that_s_font_folks-webfont.woff') format('woff'),
         url('../images/fonts/that_s_font_folks-webfont.ttf') format('truetype'),
         url('../images/fonts/that_s_font_folks-webfont.svg#ThatsFontFolksItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

// COULEURS /////////////////////////////////////////////////////////

@fond:          #FEE7F0;    // Cuisse de nymphe

@bg-texte:      #FEFEFE;    // Neige
@fg-texte:      #303030;    // Anthracite

@fg-lettrine:   #997A8D;    // Rose Mounbatten

@fg-lien:       #DE3163;    // Cerise

@fg-emphase:    #997A8D;    // Rose Mounbatten

@fg-citation:   #F400A1;    // Hollywood

@fg-titre-1:    #A10684;    // Violine

@bg-header:     #000000;    // Noir
@fg-header:     #FFFFFF;    // Blanc

@bg-menu:       #000000;    // Noir
@fg-menu:       #FFFFFF;    // Blanc

@bg-barre:      lighten(@fg-texte, 70%);

@bg-code:       lighten(@fond, 4%);

// FONCTIONS ////////////////////////////////////////////////////////

.shadow(@taille: 5px)
{
    @taille2 = @taille / 2;
    box-shadow: 0px 2px @taille @taille2 rgba(0, 0, 0, 0.5);     
}

.colonnage(@nombre: 2)
{
    text-align: justify;
    -moz-columns: @nombre;
    -moz-column-gap: 2em;
}

// CSS //////////////////////////////////////////////////////////////


html
{

    font-size: 14px;
    background: @fond url(../images/background.jpg);
    background-position: top center;
    background-attachment: fixed;
    
    color: @fg-texte;

    body
    {
        background-color: transparent;
    }

    #main
    {


        form.form-search
        {
            .btn
            {
                color: #000 !important;
            }
        }

        article, side
        {
            padding: 0px;
            margin: 0px;
        }

        margin-top: 20px;
        margin-bottom: 40px;
        background-color: @bg-texte;
        background-image: url(../images/background-side.png);
        background-position: top right;
        background-repeat: repeat-y;
        .shadow(4px);
        border-radius: 5px 5px 0px 0px;

        a
        {

            text-decoration: none;

            color: @fg-lien;
            &:hover
            {
                color: saturate(lighten(@fg-lien, 20%), 20%);
            }
        }

        b
        {
            color: @fg-emphase;
            font-weight: bold;
        }

        p
        {
            text-align: justify;
        }

        .lettrine p:first-letter
        {
            float: left;
            margin: 2px;
            font-size: 4em;
            font-weight: normal;
            font-family: FerricaLight;
            color: @fg-lettrine;
        }

        pre
        {
            font-size: 0.8em;
            padding: 10px;
            border: 1px @fg-emphase solid;
            background-color: @bg-code;
        }

        hr
        {
            color: @bg-barre;
            background-color: @bg-barre;
            height: 1px;
        }

        #header
        {

            background-color: @bg-header;
            color: @fg-header;
            font-family: ThatsFontFolksItalic;
            padding: 30px 57px 0px 0px;
            font-size: 30px;
            text-align: right;
            text-shadow: 0px 0px 6px rgba(255, 145, 207, 1);
            height: 60px;
            line-height: auto;

            span
            {
                display: block;
                font-family: helvetica;
                font-size: 16px;
            }

        }

        #menu
        {

            .navbar
            {
                margin-bottom: 0px;
            }

            .navbar-inner
            {
                border-radius: 0px;
            }

            li.active a
            {
                color: #ffffff;
            }

            a
            {

                color: #999999;

                &:hover
                {
                    color: #ffffff;
                }

            }

            .search-query
            {
                margin-right: 5px;
            }

        }

        #article
        {

            background-color: @bg-texte;
            line-height: 1.7em;
            padding: 20px;

            span.blockcode
            {
                font-family: "Courier New", Courier, monospace;
                background-color: #fbfbfb;
                padding: 1px;
                border: 1px #f1f1f1 solid;
                border-radius: 5px;
            }

            .colonnes
            {
                .colonnage;
            }

            .citation p
            {
                display: block;
                font-family: ThatsFontFolksItalic;
                font-size: 1.7em;
                font-weight: normal;
                text-align: center;
                padding: 30px 20px 30px 20px;
                color: @fg-citation;
                font-style: italic;
                background-image: url(../images/quotes.png);
                background-position: 0px 20px;
                background-repeat: no-repeat;
                background-size: cover;
                background-size: auto;
            }

            .thumbnail
            {
                .caption
                {
                    .inside
                    {
                        display: block;
                        height: 100px;
                    }
                }
            }

            .alert
            {
                b
                {
                    color: #C09853;
                }
            }

        }

        #side
        {

            width: 280px;
            background-image: url(../images/side-haut.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            margin-left: 0px;

            h2
            {
                font-family: ThatsFontFolksItalic;
                font-weight: normal;
                padding-bottom: 15px;
            }

            img
            {
                vertical-align: middle;
            }

            #innerside
            {
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 10px;
                padding-top: 20px;

                #langues
                {

                    margin-bottom: 15px;

                    img
                    {
                        margin-left: 8px;
                        margin-right: 8px;
                    }

                }

                #tags
                {

                    margin-bottom: 40px;

                    a
                    {
                        display: block;
                        float: left;
                        padding: 0px 8px 0px 8px;
                        margin-bottom: 8px;
                        margin-right: 8px;
                        line-height: 30px;
                        border-radius: 10px;
                        background-color: #000;
                        color: #fff;
                        font-weight: normal;
                    }

                }

                #partager
                {
                    text-align: center;
                }

                #lienssociaux
                {
                    text-align: center;
                    margin-top: 40px;
                }

            }

        }

        ul
        {
            li
            {
                span.lien
                {
                    color: #ddd;
                    font-size: 11px;
                    padding-left: 20px;
                }
            }
        }

        #footer
        {

            background-color: #000;
            color: #666;

            &>div
            {

                padding: 20px;

                h3
                {

                    color: #fff;
                    letter-spacing: 4px;
                    font-weight: normal;
                    padding-bottom: 10px;

                    ul
                    {
                        padding: 10px;
                    }

                }

            }

        }

        // Mise en page depuis ezoe (base de eZ)

        .object-right
        {
            float: right;
            margin: 0.5em 0em 0.5em 0.5em;
        }

        .object-left
        {
            float: left;
            margin: 0.5em 0.5em 0.5em 0em;
        }

    }

}

a
{

    text-decoration: none;
    font-weight: normal !important;

    &:link:after
    {
        content: "" !important;
    }
    &:after
    {
        content: "" !important;
    }
    &:visited:after
    {
        content: "" !important;
    }

}

// BOOTSTRAP OVERRIDES

.hero-unit
{
    h2
    {
        font-size: 60px;
        letter-spacing: -1px;
        line-height: 1;
    }
}

.btn
{
    color: #fff !important;
}

.modal
{
    display: none;
}

.search-query
{

    transition: background-color 2s linear;
    
    &:focus
    {
        transition: background-color 0.5s linear;
    }

}

.clear
{
    clear: both;
}
